# Samples and Data
*.32fc
samples/

# Python / Packaging
.venv/
build/
dist/*.whl
!dist/iqview-*.whl
*.egg-info/
*.pyc
__pycache__/

# Profiler artifacts
profiler/*.txt
profiler/*.prof
profile_results.prof
